/* Squirrel icons */
.ui-icon-squirrel-add-folder {
    background-image: url('../images/add-folder.svg')!important;
    width: 1em; height: 1em; background-size: 1em 1em;
}
.ui-icon-squirrel-copy {
    background-image: url('../images/copy.svg')!important; }
.ui-icon-squirrel-gear {
    background-image: url('../images/gear.svg')!important; }
.ui-icon-squirrel-add-value {
    background-image: url('../images/add-value.svg')!important; }
.ui-icon-squirrel-undo {
    background-image: url('../images/undo.svg')!important; }
.ui-icon-squirrel-save {
    background-image: url('../images/save.svg')!important; }
.ui-icon-squirrel-copy {
    background-image: url('../images/copy.svg')!important; }
.ui-icon-squirrel-alarm {
    background-image: url('../images/alarm.svg')!important; }
.ui-icon-squirrel-rang {
    background-image: url('../images/rang.svg')!important; }
.ui-icon-squirrel-delete {
    background-image: url('../images/delete.svg')!important; }
.ui-icon-squirrel-paste {
    background-image: url('../images/paste.svg')!important; }
.ui-icon-squirrel-edit {
    background-image: url('../images/edit.svg')!important; }
.ui-icon-squirrel-pick {
    background-image: url('../images/pick.svg')!important; }
.ui-icon-squirrel-search {
    background-image: url('../images/search.svg')!important; }
.ui-icon-squirrel-key {
    background-image: url('../images/key.svg')!important; }
.ui-icon-squirrel-folder-open {
    background-image: url('../images/folder-open.svg')!important; }
.ui-icon-squirrel-folder-closed {
    background-image: url('../images/folder-closed.svg')!important; }

.inline-icon {
/*    width: 1em;
    height: 1em;*/
    display: inline-block;
}

.squirrel-icon {
    margin: 2px;
    background-size: 100% 100%;
    background-position: center;
}

button.ui-button-icon-only {
    height: 1em;
    width: 1em;
    padding: 0;
}
