/* All nodes in a tree */
.tree-node {}

/* Just the root node */
.tree-root {}

/* On a tree-node, if it's a folder */
.tree-collection {}

/* On a tree-node, if it's a value */
.tree-leaf {}

/* Wrapper around the tree-open-close and tree-info */
.tree-title {}

/* The UL that contains all the child nodes under a collection */
.tree-subnodes {
    list-style-type: none;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
}

/* One entry in that list */
.tree-subnodes li {
    padding-left: 1em;
}

.tree-lastmod {
    margin-left: 4em;
    float: right;
}

.tree-open {}

.tree-hover {}

.tree-alarm {
    float: left;
}

button .tree-alarm {
    margin: 0.2em;
}

.tree-modified {
    color: rgb(0, 89, 255); /* may be complemented in code */
}

.tree-value {
    font-family: "Courier New", Courier, monospace;
}

.tree-separator {
    color: rgb(0, 100, 105); /* may be complemented in code */
}

.tree-info {
    display: inline-block;
}

.tree-open-close {
    margin-right: 1em;
}

.tree-has-alarms:not(.tree-open) {
    border-left: 2px solid magenta;
}

.drop-target {
    border: 1px solid green;
}
