@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8S3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

body {
    background-color: #393939;
    font-family: 'Poiret One',cursive,Helvetica,Arial,sans-serif;
    color: white;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.squirrel-icon-add {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 0px;
}

.squirrel-icon-camera {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -16px;
}

.squirrel-icon-pencil {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -32px;
}

.squirrel-icon-edit {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -48px;
}

.squirrel-icon-key {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -64px;
}

.squirrel-icon-add-value {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -80px;
}

.squirrel-icon-delete {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -96px;
}

.squirrel-icon-save {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -112px;
}

.squirrel-icon-undo {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -128px;
}

.squirrel-icon-copy {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -144px;
}

.squirrel-icon-paste {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -160px;
}

.squirrel-icon-alarm {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -176px;
}

.squirrel-icon-rung {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -192px;
}

.squirrel-icon-pick {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -208px;
}

.logo {
    float: left;
    margin: 0.5em 1em 0.5em 1em;
}

.ui-button-text-only .ui-button-text {
    padding: 0.3em;
}

.ui-menu {
    z-index: 1000;
}

.ui-widget {
    font-family: 'Poiret One',cursive,Helvetica,Arial,sans-serif;
}

.dialog {
  display: none;
}

.menu {
  display: none;
}

.node_div.hover {
    background: #44372c url("libs/images/ui-bg_gloss-wave_30_44372c_500x100.png") 50% 50% repeat-x;
    color: #baec7e;
}

.unauthenticated {
    background: transparent url("images/progress_bar.gif") no-repeat 13em center;
}

.authenticated {
    display: none;
}

.modified > .node_div > .key {
    color: orange;
}

.value {
    font-family: "Courier New", Courier, monospace;
}

.kv_separator {
    color: orange;
}

input {
    font-family: "Courier New", Courier, monospace;
}

button.ui-button-icon-only {
    width: 16px;
    height: 16px;
    padding: 0;
}

.pick_cell {
    font-family: "Courier New", Courier, monospace;
    border: 1px solid grey;
}

.picked {
    background-color: yellow;
    color: black;
}

.alarm {
    float: left;
}

#signed_in {
    float: right;
}

#toolbar {
    clear: both;
    margin-left: 2em;
}

#sites {
    border-top: 1px solid white;
    padding-top: 1em;
    margin-left: 2em;
    margin-top: 1.5em;
}

#tree {
    margin-top: 1em;
    margin-bottom: 2em;
}

#copyright {
    margin-top: 1em;
}

#dlg_alarm_number {
    width: 3em;
}

#dlg_alarm_units {
    width: 7em;
}

#dlg_alarm_units-button {
    top: 0.65em;
}

#dlg_alarm_units-button > span.ui-selectmenu-text {
    padding: 0.2em 2.1em 0.2em .25em;
}

