@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8S3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

body {
    background-color: #393939;
    font-family: 'Poiret One',cursive,Helvetica,Arial,sans-serif;
    color: white;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.squirrel-icon-add {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 0px;
}

.squirrel-icon-camera {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -16px;
}

.squirrel-icon-pencil {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -32px;
}

.squirrel-icon-edit {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -48px;
}

.squirrel-icon-key {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -64px;
}

.squirrel-icon-add-value {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -80px;
}

.squirrel-icon-delete {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -96px;
}

.squirrel-icon-save {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -112px;
}

.squirrel-icon-undo {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -128px;
}

.squirrel-icon-copy {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -144px;
}

.squirrel-icon-paste {
    background-image:url('images/squirrel-icons.png') !important;
    background-position:0 -160px;
}

.logo {
    float: left;
    margin: 1em;
}

.ui-menu {
    z-index: 1000;
}

.ui-widget {
    font-family: 'Poiret One',cursive,Helvetica,Arial,sans-serif;
}

.dialog {
  display: none;
}

.node_div:hover {
    background: #44372c url("libs/images/ui-bg_gloss-wave_30_44372c_500x100.png") 50% 50% repeat-x;
    color: #baec7e;
}

.top_bar_right {
    float: right;
}

.intro {
    margin-left: 52px;
}

.unauthenticated {
    background: transparent url("images/progress_bar.gif") no-repeat 13em center;
}

.authenticated {
    display: none;
}

.modified > .node_div > .key {
    color: orange;
}

.value {
    font-family: "Courier New", Courier, monospace
}

input {
    font-family: "Courier New", Courier, monospace
}

button.icon_button {
    height: 1.5em;
    width: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.search_result {
    color: yellow;
    text-decoration: none;
}

#sites {
    border-top: 1px solid white;
    padding-top: 1em;
    margin-left: 2em;
    margin-top: 1.5em;
}

#options_button {
    float: right;
}

#tree {
    margin-top: 1em;
    margin-bottom: 2em;
}

#copyright {
    margin-top: 1em;
}