@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8S3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}

body {
/*    background-color: #393939;
    font-family: 'Poiret One',cursive,Helvetica,Arial,sans-serif;
    color: white;*/
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.lastmod {
    float: right;
}

.ui-li-static.ui-collapsible > .ui-collapsible-heading {
    margin: 0;
}

.ui-li-static.ui-collapsible {
    padding: 0;
}

.ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
    border-top-width: 0;
}

.ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn,

.ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-bottom-width: 0;
}

/* Because otherwise we don't see the watermark */
#unauthenticated > .ui-panel-wrapper, #login > .ui-panel-wrapper {
    background-color: transparent !important;
}

#unauthenticated, #login {
    background: url('images/squirrel.png') no-repeat center;
    background-size: contain;
}

.logo {
    float: right;
    margin: 0.5em 1em 0.5em 1em;
}

div.ui-btn {
    padding: 0;
}

.ui-menu {
    z-index: 1000;
}

.ui-widget {
    font-family: 'Poiret One',cursive,Helvetica,Arial,sans-serif;
}

.button_div {
/*    float: left; */
}

.dialog {
  display: none;
}

.progress {
    background: transparent url("images/progress_bar.gif") no-repeat 13em center;
}

.modified > .key {
    color: orange;
}

.value {
    font-family: "Courier New", Courier, monospace;
}

.kv_separator {
    color: orange;
}

input {
    font-family: "Courier New", Courier, monospace;
}

button.ui-button-icon-only {
    width: 16px;
    height: 16px;
    padding: 0;
}

.pick_cell {
    font-family: "Courier New", Courier, monospace;
    border: 1px solid grey;
}

.picked {
    background-color: yellow;
    color: black;
}

.info-button {
    float: right;
}

.help {
    background-color: #fcee21;
    padding: 1em;
}

.help-close {
    float:right;
}

#signed_in {
    float: right;
}

#dlg_alarm_number {
    width: 3em;
}

#dlg_alarm_units {
    width: 7em;
}

#dlg_alarm_units-button {
    top: 0.65em;
}

#dlg_alarm_units-button > span.ui-selectmenu-text {
    padding: 0.2em 2.1em 0.2em .25em;
}

#store_settings > input {
    width: 100%;
}

#stegamage {
    height: 100px;
}

.hidden {
    display: none;
}

.open-close {
    margin-left: 2em;
}

ul.treenode-subnodes {
    list-style-type: none;
    -webkit-padding-start: 0;
}

ul.treenode-subnodes li {
    padding-left: 1em;
}

#store_settings_message, #chpw_nomatch {
    color: red;
}

.alarm {
    float: left;
}