/**
 * Styles specific to mobile platform
 */
.ui-icon-squirrel-add-folder { background-image:url('../images/add-folder18.png'); }
.ui-icon-squirrel-camera { background-image:url('../images/camera18.png'); }
.ui-icon-squirrel-pencil { background-image:url('../images/pencil18.png'); }
.ui-icon-squirrel-gear { background-image:url('../images/gear18.png'); }
.ui-icon-squirrel-add-value { background-image:url('../images/add-value18.png'); }
.ui-icon-squirrel-undo { background-image:url('../images/undo18.png'); }
.ui-icon-squirrel-save { background-image:url('../images/save18.png'); }
.ui-icon-squirrel-copy { background-image:url('../images/camera18.png'); }
.ui-icon-squirrel-alarm { background-image:url('../images/alarm18.png'); }
.ui-icon-squirrel-rang { background-image:url('../images/rang18.png'); }
.ui-icon-squirrel-delete { background-image:url('../images/delete18.png'); }
.ui-icon-squirrel-paste { background-image:url('../images/paste18.png'); }
.ui-icon-squirrel-edit { background-image:url('../images/edit18.png'); }
.ui-icon-squirrel-pick { background-image:url('../images/pick18.png'); }
.ui-icon-squirrel-key { background-image:url('../images/key18.png'); }
.ui-icon-squirrel-folder-open { background-image:url('../images/folder-open18.png'); }
.ui-icon-squirrel-folder-closed { background-image:url('../images/folder-closed18.png'); }

@media only screen and (min-resolution: 2dppx),
only screen and (-webkit-min-device-pixel-ratio: 2) {
    /* High density screen */
    .ui-icon-squirrel-add-folder { background-image:url('../images/add-folder36.png'); background-size: 18px 18px; }
    .ui-icon-squirrel-camera { background-image:url('../images/camera36.png'); background-size: 18px 18px; }
    .ui-icon-squirrel-pencil { background-image:url('../images/pencil36.png'); background-size: 18px 18px; }
    .ui-icon-squirrel-gear { background-image:url('../images/gear36.png'); background-size: 18px 18px; }
    .ui-icon-squirrel-add-value { background-image:url('../images/add-value36.png'); background-size: 18px 18px; }
    .ui-icon-squirrel-undo { background-image:url('../images/undo36.png'); background-size: 18px 18px; }
    .ui-icon-squirrel-save { background-image:url('../images/save36.png'); background-size: 18px 18px; }
    .ui-icon-squirrel-copy { background-image:url('../images/camera36.png'); background-size: 18px 18px; }
    .ui-icon-squirrel-alarm { background-image:url('../images/alarm36.png'); background-size: 18px 18px; }
    .ui-icon-squirrel-rang { background-image:url('../images/rang36.png'); background-size: 18px 18px; }
    .ui-icon-squirrel-delete { background-image:url('../images/delete36.png'); background-size: 18px 18px; }
    .ui-icon-squirrel-paste { background-image:url('../images/paste36.png'); background-size: 18px 18px; }
    .ui-icon-squirrel-edit { background-image:url('../images/edit36.png'); background-size: 18px 18px; }
    .ui-icon-squirrel-pick { background-image:url('../images/pick36.png'); background-size: 18px 18px; }
    .ui-icon-squirrel-key { background-image:url('../images/key36.png'); background-size: 18px 18px; }
    .ui-icon-squirrel-folder-open { background-image:url('../images/folder-open36.png') background-size: 18px 18px;;}
    .ui-icon-squirrel-folder-closed { background-image:url('../images/folder-closed36.png'); background-size: 18px 18px; }
}

.ui-li-static.ui-collapsible > .ui-collapsible-heading {
    margin: 0;
}

.ui-li-static.ui-collapsible {
    padding: 0;
}

.ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
    border-top-width: 0;
}

.ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn,

.ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-bottom-width: 0;
}

/* Because otherwise we don't see the watermark */
#unauthenticated > .ui-panel-wrapper > .ui-panel-wrapper {
    background-color: transparent !important;
}

#unauthenticated {
    background: url('../images/squirrel300.png') no-repeat center;
    background-size: contain;
}

.logo {
    float: right;
    margin: 0.5em 1em 0.5em 1em;
}

div.ui-btn {
    padding: 0;
}

.ui-menu {
    z-index: 1000;
}

.ui-widget {
    font-family: 'Poiret One',cursive,Helvetica,Arial,sans-serif;
}

.button_div {
/*    float: left; */
}

.dialog {
  display: none;
}

button.ui-button-icon-only {
    width: 16px;
    height: 16px;
    padding: 0;
}

.pick_cell {
    font-family: "Courier New", Courier, monospace;
    border: 1px solid grey;
}

.info-button {
    float: right;
}

.help {
    background-color: #fcee21;
    padding: 1em;
}

.help-close {
    float:right;
}

#signed_in {
    float: right;
}

#dlg_alarm_number {
    width: 3em;
}

#dlg_alarm_units {
    width: 7em;
}

#dlg_alarm_units-button {
    top: 0.65em;
}

#dlg_alarm_units-button > span.ui-selectmenu-text {
    padding: 0.2em 2.1em 0.2em .25em;
}

#store_settings > input {
    width: 100%;
}

#stegamage {
    height: 100px;
}

.open-close {
    margin-left: 2em;
}

ul.treenode-subnodes {
    list-style-type: none;
    -webkit-padding-start: 0;
}

ul.treenode-subnodes li {
    padding-left: 1em;
}

#store_settings_message, #chpw_nomatch {
    color: red;
}
